#home {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #00adb5; 
    color: #ffffff; 
  }
  
  .container_header h1 {
    font-size: 24px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  #validator {
    text-align: center;
  }
  
  #home_texto {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #393939; 
    color: #ffffff; 
  }
  
  #home_texto h4 {
    font-size: 20px;
  }
  
  #home_texto p {
    font-size: 16px;
  }
  
  #home_texto img {
    width: 100%;
    display: block;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #393939; 
    color: #ffffff; 
  }
  
  /* form label {
    margin-bottom: 5px;
  } */
  
  form input,
  form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: none;
    border-radius: 4px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #00adb5; 
    color: #ffffff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #007580; 
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #2b2b2b; 
    color: #ffffff; 
  }